.git
.gitignore
.github
.idea
.vscode
*.log
*.md

node_modules
build
dist
coverage

.env
.env.local
.env.development
.env.test
.env.production

.DS_Store
Thumbs.db

Dockerfile
.dockerignore
docker-compose*.yml
